[user]
	name = lucia
	email = luciacachn@gmail.com
[core]
  editor = vim
	excludesfile = /Users/lucia/.gitignore
	autocrlf = false
[alias]
  gst = "git status"
  gco = "git checkout"
  df = "diff"
  dt = "difftool"
  logline = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vimdiff "$LOCAL" "$REMOTE"
