[user]
	name = lucia
	email = luciacachn@gmail.com
[core]
  editor = vim
	excludesfile = /Users/lucia/.gitignore
	autocrlf = false
[alias]
  gst = "git status"
  ga = "git add"
  gpl = "git pull"
  gps = "git push"
  gbr = "git branch"
  gco = "git checkout"
  gl = "git log"
  logline = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
